.header {
    padding: 2px;
    text-align: center;
    background: #6e3272;
    color: wheat;
    font-size: 30px;
    position: relative;
    z-index: -1;
    text-align: right;
}
.build-number {
    position: absolute; 
    top: 0; 
    right: 0;
    font-size: 10px;
}

.logo{
    width: 50px; 
    height: 50px; 
    display: block; 
    text-indent: -9999px;
}

